@use 'base';

.left-panel {
  width: 49.8rem;
  margin-right: 7rem;

  @media only screen and (max-width: base.$bp-medium) {
    margin-right: 1rem;
  }

  @media only screen and (max-width: base.$bp-small-2) {
    width: auto;
    margin: 0;
    text-align: center;
  }

  &__title {
    font-size: 4.9rem;
    font-weight: 700;
    line-height: 5.5rem;
    color: white;
    margin-top: 0.7rem;

    @media only screen and (max-width: base.$bp-small-2) {
      font-size: 2.8rem;
      line-height: 3.5rem;
      font-weight: 600;
      margin-top: -0.8rem;
    }
  }

  &__description {
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    line-height: 2.6rem;
    margin-top: 2.7rem;
    word-spacing: 0rem;
    text-align: left;
    opacity: 0.9;

    @media only screen and (max-width: base.$bp-small-2) {
      margin: 2.3rem 0 0 0;
      text-align: center;
    }
  }
}

.right-panel {
  width: 54rem;

  @media only screen and (max-width: base.$bp-small-2) {
    width: auto;
  }

  &__top-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background: var(--top-box);
    border-radius: 1rem;
    height: 6rem;
    padding-top: 0.3rem;

    box-shadow: var(--shadow);

    @media only screen and (max-width: base.$bp-small-1) {
      flex-direction: column;
      padding-top: 0;
    }

    @media only screen and (max-width: base.$bp-small-2) {
      display: inline-block;
      margin-top: 6.3rem;
      height: 8.7rem;
      width: 100%;
      text-align: center;
      padding: 2rem 6rem 0 6rem;

      font-size: 1.5rem;
      font-weight: 600;
    }

    @media only screen and (max-width: base.$bp-small-3) {
      line-height: 2.6rem;
    }

    span {
      font-weight: 400;
      opacity: 0.9;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    background: white;
    margin-top: 2.4rem;
    border-radius: 1rem;

    padding: 4rem 4rem 3rem 4rem;

    box-shadow: var(--shadow);

    @media only screen and (max-width: base.$bp-small-2) {
      padding: 2.5rem;
    }

    @media only screen and (max-width: base.$bp-small-3) {
      padding: 2.4rem;
    }

    &__section {
      position: relative;
      height: 5.6rem;
      margin-bottom: 2rem;

      @media only screen and (max-width: base.$bp-small-2) {
        margin-bottom: 1.6rem;
      }

      &__input {
        width: 100%;
        // height: 5.6rem;
        height: 100%;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--color-grey-dark-1);

        padding: 0 3rem;
        // margin-bottom: 2rem;
        outline: none;
        border-radius: 0.5rem;
        border: 1px solid var(--color-grey-light-3);

        &:focus {
          border: 1px solid var(--blue);
          caret-color: var(--blue);
        }
        &:focus
          + .right-panel__form__section__label
          .right-panel__form__section__label__content,
        &:valid
          + .right-panel__form__section__label
          .right-panel__form__section__label__content {
          visibility: hidden;
        }
      }

      &__input.error {
        border: 2px solid var(--red);
        color: var(--red);
      }

      &__label {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
      }

      &__label {
        pointer-events: none;

        &__content {
          position: absolute;
          top: 1.7rem;
          left: 3.3rem;
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--color-grey-dark-3);

          @media only screen and (max-width: base.$bp-small-2) {
            left: 1.9rem;
          }
        }
      }

      &__icon-error {
        position: absolute;
        bottom: 1rem;
        right: 2.7rem;
      }
    }

    &__btn {
      background: var(--green);
      color: white;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 600;
      height: 5.6rem;
      border: none;
      border-radius: 0.5rem;
      padding-top: 0.2rem;
      letter-spacing: 0.1rem;
    }
    &__terms {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 1.1rem;
      font-weight: 400;
      color: var(--color-grey-dark-3);

      height: 4.4rem;

      @media only screen and (max-width: base.$bp-small-2) {
        display: inline-block;
        margin-top: 1rem;
        text-align: center;
        line-height: 2rem;
      }

      span {
        color: var(--red);
        font-weight: 600;
      }
    }

    .message-error {
      text-align: right;
      font-size: 1.1rem;
      font-weight: 500;
      font-style: italic;
      color: var(--red);

      margin-top: -1.5rem;
      padding-bottom: 1.9rem;
    }
  }
}
